<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.</span>
    <span class="footer__copyright">Poweer by <a rel=nofollow href="https://github.com/TryGhost/Ghost">ghost</a> and theme by <a rel=nofollow href="https://github.com/onevcat/vno">vno</a></span>
</footer>